* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  position: relative;
  flex-direction: column;
  min-height: 95vh;
  padding: 0 0 40px 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 320px;
  max-width: 1190px;
  width: 90vw;
  margin: 0 auto;
  padding: 0 0 40px 0;
}