@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

$train-color: #00BF82;
$play-color: #ffb619;
$rus-font: "Neucha", cursive;
$eng-font: "Architects Daughter", cursive;
